<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="post : ${post}">
    번호: <span th:text="${post.postId}"></span>
    제목: <span th:text="${post.title}"></span>
    내용: <span th:text="${post.body}"></span>
    좋아요: <span th:text="${post.likes}"></span>
</div>
<a th:href="@{/posts/update/{postId}(postId=${post.postId})}">수정하기</a>
<a th:href="@{/posts/delete/{postId}(postId=${post.postId})}">삭제하기</a>
</body>
</html>