<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL Link</title>
</head>
<body>
<ul>
    <li><a th:href="@{/view/object}">object</a></li>
    <li><a th:href="@{/view/text}">text</a></li>
    <li><a th:href="@{/view/param(param1=${param1},param2=${param2})}">query param url</a></li>
    <li><a th:href="@{/view/param/{param1}/{param2}(param1=${param1}, param2=${param2})}">path param x 2</a></li>
    <li><a th:href="@{/view/param/{param1}(param1=${param1}, param2=${param2})}">path param + query param</a></li>
</ul>
</body>
</html>